.Content-title{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}


.Content-title img {
    padding-top: 20px;
    margin-right: 10px;
}

.Content-title h2{
    font-size: 29px !important;
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}


.Content-container{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10%;
}

.Content-container h3{
    font-family: 'Manrope', sans-serif;;
    color: #F3F3FF;
    font-size: 19px;
    font-weight: 600;
}

.social-icons{
    display: flex;
}

.social-icons img{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin-right: 10px;
}


.title-box{
    background: #5D5680;
    font-family:  'Manrope', sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

.title-info{
    background: #E8FFE0;
    color: #44854B;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}

.title-info p{
    margin: 0;
}
.title{
    padding: 13px;
}

.title h3{
    margin: 0;
    font-size: 15px;
}


.tags-container{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    border-radius: 3px;
    background: #F3F3FF;
    display: flex;
    padding: 8px;
    width: fit-content;
    margin: 5px;
}

.tag p{
    color: #6263FF;
    font-size: 14px;
    font-family:  'Manrope', sans-serif;
    margin: 0;
    margin-right: 10px;
    font-weight:bold;
}

.cross-icon{
    cursor: pointer;
}

.tags-checkbox-container{
    background: #5D5680;
    margin-top: 7%;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 5px;
   
}

.tags-checkbox{
    display: flex;
    margin-bottom: 10px;
}

.tag-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tag-box p{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #44854B;
    text-align: center;
}

.tag-box label{
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.tag-hits{
    background: #DFFFD3;
    width: 50px;
    height: 20px;
    border-radius: 2px;
}
/* 
input[type="checkbox" i]{
    background-color: #6263FF !important;
    border-radius: 50rem !important;
} */


.checkbox{
    
    background-color: #6263FF !important;
    border-radius: 100%
}


.save-button{
    background-color: #6263FF;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    text-align: center;
    border: transparent;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}