.Home-nav{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.Home-title{
    margin: 0 auto;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.Home-title h2{
    font-size: 29px !important;
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

.Home-title p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 30%;
    text-align: center;
}

.Login-img-box{
  display: flex;
  justify-content: space-around;
  margin: 10% 0;
}

.Home-title img {
    width: 60px;
    height: 60px;
    text-align: center;
}

.Login-form-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.Login-form-box input{
    margin-bottom: 5%;
    height: 49px;
    background: #5D5680;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 10px;
    color: white;
}

::placeholder { 
    color: white;
    opacity: 1; 
  }

.Login-form-box button {
    height: 49px;
    background-color: #6263FF;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.left{
    width: 40px;
    height: 40px;
}

.Login-nav{
    display: flex;
    justify-content: space-around;
}